body {
    font-family: sans-serif;
    background-size: 100%;
}

form {
    max-width: 100%;
    background: whitesmoke;
    border-radius: 5%;
    margin-left: 30%;
    margin-right: -20%;
}

.error {
    color: red;
    background: rgb(248, 157, 157);
    text-align: center;
    padding: 10px;
    max-width: 100%;
    font-size: 15px;
    border-radius: 5px;
    border-width: 1000px;
}

form h2 {
    color: orchid;
}

.all {
    float: center;
    text-align: center;
    right: 50%;
    margin: 10%;
    max-width: 50%;
    border-radius: 5%;
}

input[type=text],
input[type=password] {
    width: 35%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

h2 {
    color: white;
}

button {
    background-color: orchid;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    border-radius: 5%;
}

button:hover {
    opacity: 0.8;
}

a {
    text-decoration: none;
}

.container {
    padding: 16px;
}